
@{
    ViewData["Title"] = "Администратор";
    Layout = "_LayoutAdminArea";
}

<h2>@ViewData["Title"]</h2>

<br />
<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a asp-area="Admin" asp-controller="ProductList" asp-action="Index">
                <i class="fa fa-circle-o fa-5x"></i>
                <h4>Список товаров</h4>
            </a>
        </div>
    </div>   
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a asp-area="Admin" asp-controller="Employee" asp-action="Index">
                <i class="fa fa-users fa-5x"></i>
                <h4>Сотрудники</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Info">
                <i class="fa fa-key fa-5x"></i>
                <h4>Администратор </h4>
            </a>
        </div>

    </div>  
</div>

