
    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        &copy;  2019 sega inc. | Разработано: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

