
    <div class="header-top">
        <div class="container">
            <ul class="list-inline" >
                <li>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/admin/logo.png" width="40" height="40" />
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Home" asp-area="">Главная</a>
                </li>
            </ul>           
        </div>
        <br />
        <div class="container">
            <div>
                <breadcrumb class="breadcrumbs"></breadcrumb>
            </div>
        </div>
    </div>
