
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/admin/logo.png" width="20" height="20" />
                    </a>
                </div>
                <div>
                    <p><a asp-area="Admin" asp-controller="Home" asp-action="Index">Область администратора</a></p>
                </div>
                <div>
                    <breadcrumb class="breadcrumbs"></breadcrumb>
                </div>
            </div>
    </div>