@model IEnumerable<OnlineStore.ViewModels.SectionViewModel>


<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    <div class="mainmenu pull-left">
        <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a asp-controller="Home" asp-action="Index" class="active">Главная</a></li>
            @foreach (var sec in Model)
            {
                if (sec.CountNestedCategory > 0)
                {
                    <li class="dropdown">
                        <a href="#">@sec.Name<i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            @foreach (var cat in sec.Categories)
                            {
                                <li><a asp-controller="Catalog" asp-action="Shop">@cat.Name</a></li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Contact_us">@sec.Name</a></li>
                }
            }
            <li class="dropdown">
                <a href="#">Товары<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a asp-controller="Catalog" asp-action="Shop">Товары</a></li>
                    <li><a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="1">Подробно</a></li>
                    <li><a asp-controller="Home" asp-action="Checkout">Оформить заказ</a></li>
                    <li><a asp-controller="Cart" asp-action="Details">Корзина</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Логин</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Блог<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a asp-controller="Home" asp-action="Blog">Блог</a></li>
                    <li><a asp-controller="Home" asp-action="Blog_single">Статья</a></li>
                </ul>
            </li>

            <li><a asp-controller="Home" asp-action="Contact_us">Контакты</a></li>
        </ul>
        </div>   
</div><!--/category-products-->