
@{
    ViewData["Title"] = "Подтверждение заказа";
}

<h2>Подтверждение заказа</h2>

<p>Заказ @ViewBag.OrderId оформлен и скоро будкет обработан!</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Назад</a>

