<div class="rating-area">
    <ul class="ratings">
        <li class="rate-this">Оценить товар:</li>
        <li>
            <i class="fa fa-star color"></i>
            <i class="fa fa-star color"></i>
            <i class="fa fa-star color"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </li>
        <li class="color">(6 votes)</li>
    </ul>
    <ul class="tag">
        <li>Тэги:</li>
        <li><a class="color" href="">Разовый <span>/</span></a></li>
        <li><a class="color" href="">Рубашки<span>/</span></a></li>
        <li><a class="color" href="">Для девочек</a></li>
    </ul>
</div><!--/rating-area-->