<div class="replay-box">
    <div class="row">
        <div class="col-sm-4">
            <h2>Leave a replay</h2>
            <form>
                <div class="blank-arrow">
                    <label>Имя</label>
                </div>
                <span>*</span>
                <input type="text" placeholder="Напишите свой имя...">
                <div class="blank-arrow">
                    <label>Email</label>
                </div>
                <span>*</span>
                <input type="email" placeholder="ваш email...">
                <div class="blank-arrow">
                    <label>Сайт</label>
                </div>
                <input type="email" placeholder="место жительства...">
            </form>
        </div>
        <div class="col-sm-8">
            <div class="text-area">
                <div class="blank-arrow">
                    <label>Имя</label>
                </div>
                <span>*</span>
                <textarea name="message" rows="11"></textarea>
                <a class="btn btn-primary" href="">Отправить комментарий</a>
            </div>
        </div>
    </div>
</div><!--/Repaly Box-->