@{
    ViewData["Title"] = "Главная страница";
    Layout = "_LayoutBase";
}

@await Html.PartialAsync("Partial/_Slider")

<section>
    <div class="container">
        <div class="row">            

            <div class="col-sm-12">

                @await Component.InvokeAsync("CategoryTab");

                @await Component.InvokeAsync("RecommendedItems");               

            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $("section").click(function () {
        });
    </script>
}

@section Styles
{
    <style>
    </style>
}
